doctype html
html(lang="en")
	head
		title Secret Garden
		meta(charset="utf-8")
		meta(name="author", content="pixelhint.com")
		meta(name="description", content="Crafty is a stunning HTML5/CSS3 multi-purpose template, well-coded, commented code and easy to customize")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
		link(rel="stylesheet", type="text/css", href="../css/reset.css")
		link(rel="stylesheet", type="text/css", href="../css/main_responsive.css")
		script(type="text/javascript", src="../js/jquery.js")
		script(type="text/javascript", src="../js/carouFredSel.js")
		script(type="text/javascript", src="../js/main.js")
		
	body
		header
			.wrapper
				img.logo(src="img/logo.png", alt="Secret Garden")
				a#menu_icon.menu_icon(href="/home")
				nav#nav_menu
					ul
						li
							a(href="/Home") Home
						li
							a(href="/product") Journal
						li
							a(href="/aboutus") About Us
						li
							a(href="/signout") Sign Out
					
		ul Welcome #{user.nickname} :)
					
