doctype html
html(lang="en")
	head
		title Secret Garden
		meta(charset="utf-8")
		link(rel="stylesheet", type="text/css", href="../css/main.css")
	body
		header
			div
				img.logo(src="../img/flower-logo.png", alt="Secret Garden")
				// scrollbar
			.stuck-head
				a#nav-open.nav-btn
				span 
				// fullscreen nav
			#menu
				nav.navigation
					ul
						li
							a(href="/") Home
						li
							a(href="/product") Product
						li
							a(href="/aboutus") About Us
						li
							a(href="/login") Log In

		script(type="text/javascript", src="https://code.jquery.com/jquery-2.1.4.min.js")
		script(type="text/javascript", src="../js/navi.js")
