html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Painting Broad
    script(src='./hello_files/jquery-1.4.min.js')
    style(type='text/css').
    script(src='./hello_files/draw.js')
    // <script src="./hello_files/storage.js"></script>
    link(href='./hello_files/canvas.css', type='text/css', rel='Stylesheet')
    script.
      //撤?的array
      var cancelList = new Array();
      //撤?的次?
      var cancelIndex = 0;
      var drawingAreaX = 111;
      var drawingAreaY = 11;
      var drawingAreaWidth = 267;
      var drawingAreaHeight = 200;
      var outlineImage = new Image();
      outlineImage.src = "hello_files/img/duck.png";
      $(function(){
      initCanvas();
      initDrag();
      $("img")[0].click();
      $("#color input").click(chooseColor);
      context.drawImage(outlineImage, drawingAreaX, drawingAreaY, drawingAreaWidth, drawingAreaHeight);
      });
      var drawingAreaX = 111;
      var drawingAreaY = 11;
      var drawingAreaWidth = 267;
      var drawingAreaHeight = 200;
      var canvasWidth = 500;
      var canvasHeight = 500;
      //初始化
      var initCanvas = function(){
      var outlineImage = new Image();
      outlineImage.src = "hello_files/img/duck.png";
      canvas =  document.getElementById("canvas");
      canvas.width = canvasWidth;
      canvas.height = canvasHeight;
      context = canvas.getContext('2d');
      canvasTop = $(canvas).offset().top
      canvasLeft = $(canvas).offset().left;
      canvas_bak =  document.getElementById("canvas_bak");
      canvas_bak.width = canvasWidth;
      canvas_bak.height = canvasHeight;
      context_bak = canvas_bak.getContext('2d');
      }
      //下??片
      var downloadImage = function(){
        $("#downloadImage_a")[0].href=canvas.toDataURL();
        $("#downloadImage_a").click();
      }
      //展??色??器
      //		var showColor = function(obj){
      //			var top = $(obj).offset().top;
      //			var left = $(obj).offset().left;
      //			$("#color")[0].style.left = left + "px";;
      //			$("#color")[0].style.top = top + "px";
      //			$("#color").show();
      //	}
      //展???大小??器
      var showLineSize = function(obj){
        if($("#line_size").is(":hidden")){
          var top = $(obj).offset().top;
          var left = $(obj).offset().left;
          $("#line_size")[0].style.left = left + $(obj).width() + 5; +  "px";
          $("#line_size")[0].style.top = top   + "px";
          $("#line_size").show();
        }else{
          $("#line_size").hide();
        }
      }
      //???色
      var chooseColor = function(obj){
      var objClass = $(this).attr("class");
      //$("#chooseColor").attr("class" , "");
      //$("#chooseColor").addClass (objClass).addClass('border_nochoose');
      color  = $(this).css('background-color');
      //			$("#color").hide();
      }
      //??大小
      var chooseLineSize =  function(_size){
        $("#chooseSize").attr("src" , "./hello_files/img/line_size_"+_size+".png");
        size = _size;
        $("#line_size").hide();
      }
      //撤?上一?操作
      var cancel = function(){
        cancelIndex++;
        context.clearRect(0,0,canvasWidth,canvasHeight);
      var  image = new Image();
      var index = cancelList.length-1 - cancelIndex  ;
      var url = cancelList[index];
      //image.src = url;
      //image.onload = function(){
      //context.drawImage(image , 0 ,0 , image.width , image.height , 0 ,0 , canvasWidth , canvasHeight);
      //}
      }
      //重做上一?操作
      var next = function(){
        cancelIndex--;
        context.clearRect(0,0,canvasWidth,canvasHeight);
      var  image = new Image();
      var index = cancelList.length-1 - cancelIndex  ;
      var url = cancelList[index];
        image.src = url;
        image.onload = function(){
          context.drawImage(image , 0 ,0 , image.width , image.height , 0 ,0 , canvasWidth , canvasHeight);
        }
      }
      //保存?史 用于撤?
      var saveImageToAry = function (){
        cancelIndex = 0;
      var img = new Image();
        img.setAttribute('crossOrigin', 'anonymous');
      //img.src = url;
      //url =
      var dataUrl =  canvas.toDataURL();
      //cancelList.push(dataUrl);
      }
      // ?理文件拖入事件，防止??器默?事件??的重定向
      function handleDragOver(evt) {
      evt.stopPropagation();
      evt.preventDefault();
      }
      // 判?是否?片
      function isImage(type) {
      switch (type) {
      case 'image/jpeg':
      case 'image/png':
      case 'image/gif':
      case 'image/bmp':
      case 'image/jpg':
      return true;
      default:
      return false;
      }
      }
      // ?理拖放文件列表
      function handleFileSelect(evt) {
      evt.stopPropagation();
      evt.preventDefault();
      var files = evt.dataTransfer.files;
      for (var i = 0, f; f = files[i]; i++) {
      var t = f.type ? f.type : 'n/a';
      reader = new FileReader();
      isImg = isImage(t);
      // ?理得到的?片
      if (isImg) {
      reader.onload = (function (theFile) {
      return function (e) {
      var  image = new Image();
      image.src =  e.target.result ;
      image.onload = function(){
      context.drawImage(image , 0 ,0 , image.width , image.height , 0 ,0 , canvasWidth , canvasHeight);
      }
      };
      })(f)
      reader.readAsDataURL(f);
      }
      }
      }
      //初始化拖入效果
      var initDrag= function(){
      var dragDiv  = document.getElementById("canvas_bak");
      dragDiv.addEventListener('dragover', handleDragOver, false);
      dragDiv.addEventListener('drop', handleFileSelect, false);
      }
  body
    // scrollbar
    .stuck-head
      a#nav-open.nav-btn
        span menu
    // fullscreen nav
    #menu
      nav.navigation
        ul
          li
            a(href='/') Home
          li
            a(href='/journal') Journal
          li
            a(href='/aboutus') About Us
          li
            a(href='/login') Sign In
    // scrollbar end
    #drawController
      #color.color
        input#chooseColor.i1
        // <input class="i1 " id="chooseColor" type="button" img src="./hello_files/img/red.png" width="55px;" height="55px;">
        input#chooseColor.i2
        // type="image" alt="submit" > <!--src="./hello_files/img/red.png" width="55px;" height="55px;">
        input#chooseColor.i3
        // type="image" alt="submit" > <!--src="./hello_files/img/orange.png" width="55px;" height="55px;">
        input#chooseColor.i4
        // type="image" alt="submit" > <!--src="./hello_files/img/yellow.png" width="55px;" height="55px;">
        input#chooseColor.i5
        // type="image" alt="submit" > <!--src="./hello_files/img/green.png" width="55px;" height="55px;">
        input#chooseColor.i6
        // type="image" alt="submit" > <!--src="./hello_files/img/blue.png" width="55px;" height="55px;">
        input#chooseColor.i7
        // type="image" alt="submit" > <!--src="./hello_files/img/purple.png" width="55px;" height="55px;">
        input#chooseColor.i8
        // type="image" alt="submit" > <!--src="./hello_files/img/brown.png" width="55px;" height="55px;">
        input#chooseColor.i9
        // type="image" alt="submit" > <!--src="./hello_files/img/black.png" width="55px;" height="55px;">
      img.img.border_choose(src='./hello_files/img/pencil.png', width='120px;', height='39px;', onclick="draw_graph('pencil',this)", title='鉛筆')
      br
      img.img.border_nochoose(src='./hello_files/img/handwriting.png', width='120px;', height='39px;', onclick="draw_graph('handwriting',this)", title='塗鴉')
      br
      img.img.border_nochoose(src='./hello_files/img/test.png', width='120px;', height='39px;', onclick="draw_graph('test',this)", title='test')
      br
      img.img.border_nochoose(src='./hello_files/img/eraser.png', width='120px;', height='45px;', onclick="draw_graph('rubber',this)", title='橡皮擦')
      br
      img#chooseSize.img.border_nochoose(src='./hello_files/img/ruler.png', width='120px;', height='39px;', onclick='showLineSize(this)', title='線條大小')
      br
      // <img src="./hello_files/img/line.png" width="20px;" height="20px;" class="img border_nochoose" onclick="draw_graph(&#39;line&#39;,this);" title="畫直線"><br>
      img.img.border_nochoose(src='./hello_files/img/cancel.png', width='55px;', height='55px;', onclick='cancel(this)', title='撤回上一個操作')
      br
      img.img.border_nochoose(src='./hello_files/img/next.png', width='55px;', height='55px;', onclick='next(this)', title='重做上一個操作')
      br
      // <img src="./hello_files/img/square.png" width="20px;" height="20px;" class="img border_nochoose" onclick="draw_graph(&#39;square&#39;,this)" title="方形"><br>
      // <img src="./hello_files/img/circle.png" width="20px;" height="20px;" class="img border_nochoose" onclick="draw_graph(&#39;circle&#39;,this)" title="圓"><br>
      img.img.border_nochoose(src='./hello_files/img/xx.png', width='55px;', height='55px;', onclick="clearContext('1')", title='清屏')
      br
      // <img src="./hello_files/save.png" width="20px;" height="20px;" class="img border_nochoose" onclick="save()" title="保存"><br>
      a#downloadImage_a(href='http://chengxinwei.github.io/html5/2013/06/20/HTML5_CANVAS_%E7%94%BB%E5%9B%BE%E6%9D%BF/#', download='picture.png')
        img.img.border_nochoose(src='./hello_files/img/download.png', width='55px;', height='55px;', title='下載', onclick='downloadImage();')
        //<img src="./hello_files/img/download.png" width="55px;" height="55px;" class="img border_nochoose" title="下載" onclick="downloadImage();">
      br
    div(style='float:left;width:30%')
      canvas#canvas(width='500', height='400')
        | 瀏覽器不支持哦
      canvas#canvas_bak(width='500', height='400', style='z-index: 1;')

    #line_size.border_nochoose(style='z-index:99')
      img(src='./hello_files/img/line_size_1.png', width='80px;', height='12px;', onclick='chooseLineSize(1)')
      br
      img(src='./hello_files/img/line_size_3.png', width='80px;', height='12px;', onclick='chooseLineSize(3)')
      br
      img(src='./hello_files/img/line_size_5.png', width='80px;', height='12px;', onclick='chooseLineSize(5)')
      br
      img(src='./hello_files/img/line_size_7.png', width='80px;', height='12px;', onclick='chooseLineSize(7)')
    script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(type='text/javascript', src='../js/navi.js')
    iframe#GetTheResultsHub(t='Browser', style='width: 1px; height: 1px; display: none;')

