extends layout

block content
	body
		#canvasDiv
			script(type="text/javascript", src="excanvas.js")
			script(type="text/javascript", src="html5-canvas-drawing-app.js")
			script(type="text/javascript")
			drawingApp.init();
