extends layout

append head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='Bookblock: A Content Flip Plugin - Demo 1')
  meta(name='keywords', content='javascript, jquery, plugin, css3, flip, page, 3d, booklet, book, perspective')
  meta(name='author', content='Codrops')
  link(rel='stylesheet', type='text/css', href='../css/default.css')
  link(rel='stylesheet', type='text/css', href='../css/bookblock.css')
  // custom demo style
  link(rel='stylesheet', type='text/css', href='../css/demo1.css')
  script(src='../js/modernizr.custom.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
  script(src='../js/jquerypp.custom.js')
  script(src='../js/jquery.bookblock.js')

block content
  .container
    header
      .main.clearfix
        .bb-custom-wrapper
          #bb-bookblock.bb-bookblock
            .bb-item
              //img(src='../img/1.jpg', alt='image1')      
          nav  
            // <a id="bb-nav-first"href="#"><image src="images/carrot.png"></a>
            a#bb-nav-prev.bb-custom-icon.bb-custom-icon-arrow-left.bb-left(href='#') Previous
            a#bb-nav-next.bb-custom-icon.bb-custom-icon-arrow-right.bb-right(href='#') Next
            // <a id="bb-nav-last" href="#" class="bb-custom-icon bb-custom-icon-last">Last page</a>
    // /container
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='../js/jquerypp.custom.js')
    script(src='../js/jquery.bookblock.js')
    script.
      var Page = (function() {
      var config = {
      $bookBlock : $( '#bb-bookblock' ),
      $navNext : $( '#bb-nav-next' ),
      $navPrev : $( '#bb-nav-prev' ),
      $navFirst : $( '#bb-nav-first' ),
      $navLast : $( '#bb-nav-last' )
      },
      init = function() {
      config.$bookBlock.bookblock( {
      speed : 800,
      shadowSides : 0.8,
      shadowFlip : 0.7
      } );
      initEvents();
      },
      initEvents = function() {
      var $slides = config.$bookBlock.children();
      // add navigation events
      config.$navNext.on( 'click touchstart', function() {
      config.$bookBlock.bookblock( 'next' );
      return false;
      } );
      config.$navPrev.on( 'click touchstart', function() {
      config.$bookBlock.bookblock( 'prev' );
      return false;
      } );
      config.$navFirst.on( 'click touchstart', function() {
      config.$bookBlock.bookblock( 'first' );
      return false;
      } );
      config.$navLast.on( 'click touchstart', function() {
      config.$bookBlock.bookblock( 'last' );
      return false;
      } );
      // add swipe events
      $slides.on( {
      'swipeleft' : function( event ) {
      config.$bookBlock.bookblock( 'next' );
      return false;
      },
      'swiperight' : function( event ) {
      config.$bookBlock.bookblock( 'prev' );
      return false;
      }
      } );
      // add keyboard events
      $( document ).keydown( function(e) {
      var keyCode = e.keyCode || e.which,
      arrow = {
      left : 37,
      up : 38,
      right : 39,
      down : 40
      };
      switch (keyCode) {
      case arrow.left:
      config.$bookBlock.bookblock( 'prev' );
      break;
      case arrow.right:
      config.$bookBlock.bookblock( 'next' );
      break;
      }
      } );
      };
      return { init : init };
      })();
    script.
      Page.init();

      $.post('/callname', function(data){
        for(var key in data){
          var getname = data[key].name;
          var $book = $('#book').bookblock();
          $book.append('<div class="bb-item" id = '+key+' ></div>');
          creatDiv(getname,key);
        }
        $( '#bb-bookblock' ).bookblock('update');
        $( '#bb-bookblock' ).bookblock('next');
      });

      function creatDiv(name,key) {
        //dynamically add an image and set its attribute
        var div = document.createElement("div");
          div.className = "bb-item";
          div.id = key;
          var qoo = document.getElementById("bb-bookblock");
          qoo.appendChild(div);

          var img=document.createElement("img");
          img.src="../drawimg/"+name+".png "
          img.id="picture"
          img.alt= key
          var foo = document.getElementById(key);
          foo.appendChild(img);
      };
