/* main.css */

body {
	width:100%;
  height:850px;
  background: url("../img/billboard3.png") no-repeat center center;
  background-size: 100% auto;
  background-color: #a6d294 ;
}

.logo{
  display: block;
  margin: 0px auto;
  }    

.billboard{
  width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
  } 

 /* navigation */
@import url(http://fonts.googleapis.com/css?family=Muli);
@import url(http://fonts.googleapis.com/css?family=Raleway);

h1 {
  text-align: center;
  margin: 25% auto auto auto;
  font-size: 2em;
  font-family: 'Muli', sans-serif;
}

h1.active {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

#menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, .9);
  color: #f1f2f3;
  z-index: 120;
}

#menu.active {
  display: block;
}

.stuck-head {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
  margin-bottom: 0;
}

.nav-btn {
  position: absolute;
  top: 30px;
  left: 93%;
  height: 50px;
  width: 50px;
  background: url("http://i.imgur.com/qPQxa9T.png") rgba(44, 62, 80, 1.0) no-repeat;
  background-position: center center;
  background-size: 60%;
  opacity: 0.9;
  border-radius: 100%;
  padding: .2em;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.nav-btn.active {
  background: url("http://i.imgur.com/ee2nSd1.png") no-repeat;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  border-radius: 50%;
  background-position: 50% 50%;
}

.nav-btn span {
  display: none;
}

.navigation {
  width: 100%;
}

.navigation ul {
  list-style: none;
  width: 100%;
  margin: 0;
  padding-top: 10em;
  padding-left: 0;
}

.navigation ul li {
  text-align: center;
  clear: both;
  padding-top: 5px;
  padding-left: 1em;
  padding-bottom: 1em;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 2.2em;
}

.navigation ul li a {
  color: #FFF;
  text-decoration: none;
}

.navigation ul li a:hover {
  color: #2c3e50;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
/* navigation end */

/* scroll bar */
@import "compass/css3";

/*@import url(http://fonts.googleapis.com/css?family=Cabin);*/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  min-height: 100%;
}
/*
body {
  background: #fff;
  color: #fff;
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
  letter-spacing: 0.1em;
  //text-shadow: -1px 0px 1px #333;
}

h1 {
  font-size: 40px;
  margin-bottom: 15px;
  border-bottom: 3px double #fff;
  display: inline-block;
  text-shadow: 4px 4px 0px #7BCC70, 6px 6px 0px #fff;
}
*/
.background {
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  position: absolute;
  z-index: -1;
  background-color: #7BCC70;
}

.wrapper {
  padding: 30px;
}

.scrollbox {
  margin-top: 15px;
  padding-right: 15px;
  height: 180px;
  width: 600px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 8px;
}
 
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3); 
  border-radius: 8px;
}
 
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0,0,0,0.3);
}